@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body {
  margin: 0;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  font-family: Roboto;
  font-display: fallback;
}

#__next {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  display: flex;
}
